@page
@model IndexModel
@{
    ViewData["Title"] = "SandBox";
}

<div class="text-center">
    <h1 class="display-4">Poopies</h1>
</div>

<div class="dump-list">

        @if (Model.ActiveUser.UserLastFiveDumps == null)
        {
            <h3 class="text-center">You need to login in.</h3>
            <p>@Model.ActiveUser.UserName</p>
            <p>test: no poops</p>
        }
        else
        {
            <ul>
                @foreach (var dump in Model.ActiveUser.UserLastFiveDumps)
                {
                    <li>@dump.Date</li>
                    <li>@dump.Shape</li>
                    <li>@dump.Color</li>
                    <li>@dump.Amount</li>
                    <div class="button-container">
                        <a class="button-link" asp-page="/EditDump" asp-route-id="@dump.User_id" asp-route-dumpId="@dump.Id">Edit</a>
                        <a class="button-link" asp-route-id="@dump.User_id">Remove</a>
                    </div>
                    <br />
                    <br />
                }
            </ul>      
        }
</div>
